# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/api/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

/doc/*
node_modules

# webpack
public/packs

# spec
examples.txt
