<%= content_for(:title) {"Developer"} %>
<%= content_for(:description) {"Edit Application"} %>

<div class="row">
  <div class="offset-lg-2 col-lg-8 offset-xl-3 col-xl-5">
    <div class="card">
      <div class="update-application">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
