$body-color: #000;
$gray-subtle: #eee;
$theme-colors: (
  primary: #1997c6,
  success: #1BC98E,
  info: #9F86FF,
  warning: #E4D836,
  danger: #E64759,
  dark: #161616
);

@import "bootstrap/variables";

$body-bg: #f5f2ec;

$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-size-xs: .75rem !default;

$spacer:            20px;
$spacer-y:          $spacer;

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          0.9rem;
$font-weight-base:        300;
$letter-spacing-base:     0;
$line-height-base:        1.5;
$text-color:              $gray-700;

$text-muted:              #999;
$hr-border:               $gray-subtle;

$card-bg: $white;

$iconav-bg:                  $body-bg;
$iconav-border:              $body-bg;
$iconav-width:               70px;
$iconav-brand-color:         $body-bg;
$iconav-brand-hover-color:   inherit;
$iconav-brand-border:        $iconav-border;
$iconav-link-color:          theme-color("dark");
$iconav-link-border:         $iconav-border;
$iconav-link-active-color:   $body-bg;
$iconav-link-active-bg:      theme-color("dark");

$hr-divider-before-bg:      $gray-subtle;

$dashhead-toolbar-divider-bg: $gray-subtle;
$dashhead-subtitle-color: lighten($gray-700, 35%);
