<%= content_for(:title) {"Status Page"} %>
<%= content_for(:description) {"Update your Status Page"} %>

<div class="row">
  <div class="offset-lg-2 col-lg-8 offset-xl-3 col-xl-5">
    <div class="card">
      <div class="update-status-page">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
