<div class="bg-dark py-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-7 offset-md-1 mt-5">
        <h1>Real-time stack status</h1>
        <div class="row">
          <div class="col-md-3">
            <hr class="bg-info">
          </div>
        </div>
        <br>
        <p class="lead">Stop worrying about the state of your stack. Let us tell you when something is not right.</p>
      </div>
      <div class="col-md-3">
        <%= image_tag "hero.svg" %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 text-center mb-5">
      <p class="lead mx-auto pt-5">
        It’s not hard to see how we make your life easier every day.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="featured-list">
        <li class="mb-5">
          <div class="featured-list-icon text-primary">
            <span class="fa fa-clock-o"></span>
          </div>
          <p class="featured-list-icon-text mb-0">
            <strong>Checks</strong>
          </p>
          <p class="featured-list-icon-text">
            Check that your stack is up at any time and with the Stack Alert dashboard.
            Receive updates in real-time at the intervals you choose.
          </p>
        </li>

        <li class="mb-5">
          <div class="featured-list-icon text-primary">
            <span class="fa fa-anchor"></span>
          </div>
          <p class="featured-list-icon-text mb-0">
            <strong>Integrations</strong>
          </p>
          <p class="featured-list-icon-text">
            We provide an extensive list of plug & play integrations (Github, Heroku...)
            with an optimized configuration.
          </p>
        </li>

        <li class="mb-5">
          <div class="featured-list-icon text-primary">
            <span class="fa fa-check"></span>
          </div>
          <p class="featured-list-icon-text mb-0">
            <strong>Status Page</strong>
          </p>
          <p class="featured-list-icon-text">
            Monitor your stack dependencies at a glance, you can also inform your customers about platform
            performance. You can use your own domain of course.
          </p>
        </li>
      </ul>
    </div>

    <div class="col-sm-6">
      <ul class="featured-list">
        <li class="mb-5">
          <div class="featured-list-icon text-primary">
            <span class="fa fa-users"></span>
          </div>
          <p class="featured-list-icon-text mb-0">
            <strong>Teams</strong>
          </p>
          <p class="featured-list-icon-text">
            Every checks belongs to a team, Stack Alert subscriptions apply to a whole team,
            not just individuals.
          </p>
        </li>

        <li class="mb-5">
          <div class="featured-list-icon text-primary">
            <span class="fa fa-bell"></span>
          </div>
          <p class="featured-list-icon-text mb-0">
            <strong>Alerts</strong>
          </p>
          <p class="featured-list-icon-text">
            Get notified once something is not right via your chosen method: email, twitter, status page,
            webhook, text.
          </p>
        </li>

        <li class="mb-5">
          <div class="featured-list-icon text-primary">
            <span class="fa fa-cogs"></span>
          </div>
          <p class="featured-list-icon-text mb-0">
            <strong>Easy and Safe to Use</strong>
          </p>
          <p class="featured-list-icon-text">
            Connect with your Github or Bitbucket account in order to create team easily.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
