<footer class="bg-dark mt-1">
  <div class="container text-white">
    <div class="row pt-5 pb-5">
      <div class="col-12">
        <%= image_tag "brand.svg", height: 40 %>
        <span>Stack Alert</span>
        <div class="float-right">
          <ul class="list-inline float-right">
            <li class="list-inline-item">
              <%= link_to "https://github.com/stackalert", class: "text-white", target: '_blank'  do %>
                <%= fa_icon "github", text: "Github" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
