<%= content_for(:title) {"Check"} %>
<%= content_for(:description) {"Edit Check"} %>

<div class="row">
  <div class="offset-lg-2 col-lg-8 offset-xl-3 col-xl-5">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0"><%= fa_icon "pencil", text: "Edit" %></h3>
      </div>
      <div class="update-check">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
